PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL \
libpng-dev git dialog xmlstarlet joystick subversion python3-pyudev \
libudev-dev libxkbcommon-dev libasound2-dev libusb-1.0-0-dev libgles2-mesa-dev \
libx11-xcb-dev libgbm-dev libv4l-dev libflac-dev libfontconfig-dev \
libfreetype6-dev libavcodec-dev libavformat-dev libavdevice-dev libibus-1.0-dev \
libdbus-1-dev fcitx-libs-dev libsndio-dev libx11-dev libxcursor-dev libxext-dev \
libxi-dev libxinerama-dev libxrandr-dev libxss-dev libxt-dev libxv-dev \
libxxf86vm-dev libgl1-mesa-dev libegl1-mesa-dev libdrm-dev libsamplerate0-dev \
devscripts debhelper dh-autoreconf fbi \
fontconfig fontconfig-config fonts-dejavu-core libaom0 libass9 \
libavc1394-0 libavcodec58 libavdevice58 libavfilter-dev libavfilter7 \
libavformat58 libavutil-dev libavutil56 libblas3 libbluray2 \
libbrotli-dev libbs2b0 libcairo-gobject2 libcairo2 libcdio-cdda2 \
libcdio-paranoia2 libcdio19 libchromaprint1 libcodec2-0.9 libdatrie1 \
libdav1d4 libdc1394-25 libdeflate0 libexpat1-dev libfftw3-double3 \
libflite1 libfontconfig1 libfreetype-dev libfreetype6 libfribidi0 \
libgdk-pixbuf-2.0-0 libgdk-pixbuf2.0-common libgfortran5 libgme0 \
libgraphite2-3 libgsm1 libharfbuzz0b libiec61883-0 libjack-jackd2-0 \
libjbig0 libjpeg62-turbo liblapack3 liblilv-0-0 libmp3lame0 libmpg123-0 \
libmysofa1 libnorm1 libogg-dev libopenal-data libopenal1 libopenjp2-7 \
libopenmpt0 libpango-1.0-0 libpangocairo-1.0-0 libpangoft2-1.0-0 \
libpgm-5.3-0 libpixman-1-0 libpocketsphinx3 libpostproc-dev \
libpostproc55 librabbitmq4 libraw1394-11 librsvg2-2 librubberband2 \
libserd-0-0 libshine3 libsnappy1v5 libsodium23 libsord-0-0 libsoxr0 \
libspeex1 libsphinxbase3 libsratom-0-0 libsrt1.4-gnutls libssh-gcrypt-4 \
libswresample-dev libswresample3 libswscale-dev libswscale5 libthai-data \
libthai0 libtheora0 libtiff5 libtwolame0 libudfread0 libv4l-0 \
libv4l2rds0 libv4lconvert0 libva-drm2 libva-x11-2 libva2 libvdpau1 \
libvidstab1.1 libvorbisfile3 libvpx6 libwavpack1 libwebp6 libwebpmux3 \
libx264-160 libx265-192 libxcb-render0 libxcb-shape0 libxvidcore4 \
libzmq5 libzvbi-common libzvbi0 ocl-icd-libopencl1 shared-mime-info \
libfreeimage-dev libfreetype6-dev libcurl4-openssl-dev libasound2-dev cmake \
libvlc-dev libvlccore-dev vlc rapidjson-dev libsm-dev \
libspeexdsp-dev fonts-freefont-ttf libboost-filesystem-dev \
liba52-0.7.4-dev libmpeg2-4-dev libvorbis-dev libgif-dev libmad0-dev \
libtheora-dev libfaad-dev libfluidsynth-dev libjpeg-dev \
libmodplug1 libopusfile0 libsdl2-gfx-1.0-0 libsdl2-image-2.0-0 \
libsdl2-mixer-2.0-0 libsdl2-ttf-2.0-0 python3-sdl2 python3-urwid \
libjs-jquery libjs-sphinxdoc libjs-underscore libpython3-dev libpython3.9 \
libpython3.9-dev python-pip-whl python3-pkg-resources python3-wheel python3.9-dev \
meson ninja-build libpciaccess-dev \
python3-mako libxml2-dev libsensors-dev libzstd-dev \
python3-dev python3-pip alsa-oss python3-setuptools libevdev-dev \
samba exfat-fuse pmount lockfile-progs \
libinstpatch-1.0-2 libwayland-cursor0 timgm6mb-soundfont \
" # additional packages